<%= form_for @student do |f|%>
<h3>Student Form</h3>
  <%= f.label 'Enter your first name'%></br>
  <%= f.text_field :first_name%></br>

  <%= f.label 'Enter your last name'%></br>
  <%= f.text_field :last_name%></br>
  <%= f.submit 'Create Student'%>
<% end %>